{% extends 'base.html' %}

{% block navbar_menu %}
  
  {% if g.user %}
    <a class="action btn btn-warning mx-3" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}


{% block content %}
<div class="card-group">
  {% for post in posts %}
    <article class="card mx-3 my-3" style="min-width: 330px">
      <header>
        <div class="card-header">
          <h4 class="card-title">{{ post['title'] }}</h4>
        </div>
      </header>
      <div class="d-flex justify-content-between">
        <span class="card-subtitle mb-2 text-muted mx-3 my-3">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</span>
          {% if g.user['id'] == post['author_id'] %}
          <a class="btn btn-outline-secondary btn-sm mx-3 my-3" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </div>
      <p class="card-text px-3">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

</div>
{% endblock %}


